<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="fragments/header :: imports"></div>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div th:replace="fragments/navigation :: navigation"></div>

<div>
    <div>
        <div>

        </div>
    </div>
</div>

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <!-- Register -->
            <div class="col-md-12">
                <div class="row">
                    <h3>Something went wrong!</h3>
                </div>
            </div>
            <!-- Register -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

</body>
</html>